section#events {
  padding: em(15);

  article.event {
    @include span-columns(4);
    background-color: $light-grey;
    padding: 0 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;

    @include media($b-x-small) {
      @include span-columns(4);
      @include omega(1n);
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    @include media($b-small) {
      @include span-columns(4);
      @include omega(2n);
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    @include media($b-medium) {
      @include span-columns(4);
      @include omega(3n);
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    @include media($b-large) {
      @include span-columns(3);
      @include omega(4n);
    }

    .time {
      @include span-columns(4);
      font-weight: $light;
      font-size: .75em;
    }
  }
}